:root { 
--blue_gray_50:#eef0fa; 
--pink_900:#7f1f67; 
--red_300:#cc5f5f; 
--green_500:#519c66; 
--black_900:#000000; 
--pink_600_01:#e01461; 
--pink_600:#d23565; 
--orange_200_28:#ffcc9128; 
--gray_600:#787486; 
--blue_gray_50_01:#eef0f9; 
--deep_purple_A200_26:#8833ff26; 
--pink_600_1e:#d235651e; 
--gray_400:#bec0c9; 
--blue_gray_400:#8a8c96; 
--blue_gray_300:#a5a7b1; 
--gray_800:#44464d; 
--gray_900:#0d062d; 
--gray_900_01:#1c1d22; 
--gray_300:#dbdeee; 
--orange_200:#ffcc91; 
--gray_300_01:#e0e2e8; 
--gray_100:#f4f5f9; 
--pink_600_14:#d2356514; 
--indigo_200:#96a5ea; 
--gray_100_01:#f1f2f8; 
--white_A700_28:#ffffff28; 
--white_A700:#ffffff; 
--pink_600_19:#d2356519; 
}